doctype html

html
  title Kyle Silver
  head
    link(rel="stylesheet" href="/css/site.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,500&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content