extends base.pug

block content
  .container
      include nav.pug
      p !{content}
      h2
        a(href="/blog" class="content-list-heading-wrapper")
          span.content-list-heading Recent Posts
      .posts
        ul
          // up to 3 posts, but no more!
          each blogpost in collections.blogposts.slice(0, 3)
            include mixins.pug
            li #[+tile(blogpost)]
      br
      h2
        a(href="/compositions" class="content-list-heading-wrapper")
          span.content-list-heading Compositions
      .posts
        ul
          each composition in collections.compositions.slice(0, 3)
            include mixins.pug
            li #[+tile(composition)]
      br
      h2
        a(href="/transcriptions" class="content-list-heading-wrapper")
          span.content-list-heading Transcriptions
      .posts
        ul
          each transcription in collections.transcriptions.slice(0, 3)
            include mixins.pug
            li #[+tile(transcription)]
      br
