block nav
  #nav
    ul(class='nav-items')
      li #[a(href='/') home]
      span(class=spacer)
      li #[a(href='/blog') blog]
      span(class=spacer)
      li #[a(href='/compositions') compositions]
      span(class=spacer)
      li #[a(href='/transcriptions') transcriptions]
      span(class=spacer)
      li #[a(href='//github.com/kyle-silver') github]
  h1 Kyle Silver
  .separator