doctype html

html(lang="en-us")
  title Kyle Silver
  head
    link(rel="stylesheet" href="/css/site.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,600;1,300;1,600&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;900&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,800;1,300;1,800&display=swap" )

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    #footer
      p.flourish &lt;/&gt;
      p.copyright Kyle Silver c. 2023