extends base.pug

block content
  .container
      include nav.pug
      p !{content}
      br
      h2
        span.content-list-heading Recent Posts
      .posts
        ul
          each blogpost in collections.blogposts.slice(0, 3)
            include mixins.pug
            li #[+tile(blogpost)]
        .see-all 
          a(href="/blog") All blog posts&nbsp;&raquo;
      br
      h2
        span.content-list-heading Compositions
      .posts
        ul
          each composition in collections.compositions.slice(0, 3)
            include mixins.pug
            li #[+tile(composition)]
        .see-all 
          a(href="/compositions") All compositions&nbsp;&raquo;
      br
      h2
        span.content-list-heading Transcriptions
      .posts
        ul
          each transcription in collections.transcriptions.slice(0, 3)
            include mixins.pug
            li #[+tile(transcription)]
        .see-all 
          a(href="/transcriptions") All transcriptions&nbsp;&raquo;
      br
