:root {
    /* --accent: #ff8547; */
    --accent: #ff9940;
    --fg: #ffffff;
    --black: #000000;
    --link: #8b72e8;
    --gray: #cdd1d8;
    --code-bg: #ebeef1;
    --ayu-bg: #fafafa;
    --ayu-fg: #575f66;
    --ayu-gray: #abb0b6;
    --ayu-orange: #fa8d3e;
    --ayu-yellow: #f2ae49;
    --ayu-blue: #55b4d4;
    --ayu-green: #86b300;
    --ayu-purple: #a37acc;
    --ayu-teal: #4cbf99;
}

body {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    color: var(--black);
    line-height: 1.4;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 1.4rem;
}

body b {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Ruda", sans-serif;
}

/* header styles */

.nav-items {
    font-family: "Ruda", sans-serif;
    font-size: 1.15rem;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: baseline;
}

@media only screen and (max-width: 45rem) {
    .nav-items {
        display: block;
    }
    body {
        font-size: 1.3rem;
    }
}

.nav-items span {
    width: 2rem;
}

.nav-items a {
    color: var(--black);
    text-decoration: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* footer styles */

#footer {
    text-align: center;
    font-family: "Ruda", monospace;
    font-weight: 100;
    color: var(--ayu-gray);
    font-size: 1rem;
}

#footer .flourish {
    font-family: "Jetbrains Mono", monospace;
    font-weight: 100;
    margin-bottom: 0;
}

#footer .copyright {
    margin-top: 0;
}

/* main content styles */

.container {
    max-width: 45rem;
    margin: auto;
}

.separator {
    width: 20%;
    height: 5px;
    background-color: var(--accent);
}

h1 {
    margin-bottom: 3px;
}

/* blogpost list */

.posts li {
    list-style: none;
}

.tile h3 {
    margin-bottom: 0;
}

.tile p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--black);
}

.posts ul {
    padding-left: 0;
}

.posts a {
    color: var(--black);
    text-decoration: none;
}

.tile .tile-date {
    font-size: 1.2rem;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    color: var(--ayu-gray);
}

.date-tag {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--ayu-gray);
    text-align: right;
    margin-right: 0.5rem;
}

a:hover {
    color: var(--accent);
}

a.teaser-link:hover {
    color: var(--black);
}

.teaser-link b {
    font-family: Ruda, sans-serif;
    font-size: smaller;
}

span.published {
    color: var(--gray);
    float: right;
}

/* content lists for the homepage */
.content-list-hidden {
    display: none;
}

.content-list-heading:hover + .content-list-hidden {
    display: inline;
    color: var(--ayu-fg);
    font-size: smaller;
    font-weight: 100;
}

.content-list-heading-wrapper {
    color: var(--black);
    text-decoration: none;
}

.clock-iframe {
    width: 100%;
    border: none;
    overflow: hidden;
}

/* article styles */

#article a {
    color: var(--link);
    text-decoration: none;
}

#article a:hover {
    color: var(--accent);
}

#article ol.footnote {
    font-size: 1rem;
}

#article sup {
    font-size: 0.7rem;
}

#article p {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a.tile-link {
    color: var(--link);
    text-decoration: none;
}

a.tile-link:hover {
    color: var(--accent);
}

/* inline code styles */

.code {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9rem;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding: 10px;
    background-color: var(--ayu-bg);
    color: var(--ayu-fg);
    overflow: auto;
}

code {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.15rem;
    border-radius: 4px;
    background-color: var(--code-bg);
    padding-left: 2.5px;
    padding-right: 2.5px;
}

#draw-output {
    line-height: 1.2;
}

/* media */

iframe.video {
    margin: auto;
    display: block;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--ayu-gray);
}

audio {
    margin: auto;
    display: block;
    width: 75%;
}

@media only screen and (max-width: 45rem) {
    audio {
        width: 100%;
    }
}

#article img {
    max-width: 100%;
    display: block;
    margin: auto;
}

/* kerning for musical symbols */
.flat {
    letter-spacing: -5px;
}

.sharp {
    letter-spacing: -2.5px;
}

.tombstone {
    color: var(--ayu-orange);
}

.tombstone .t1 {
    letter-spacing: -7.5px;
}

.tombstone .t2 {
    letter-spacing: -9.5px;
}

.tombstone .t3 {
    letter-spacing: -11.5px;
}

/* suggested articles */

#up-next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

#up-next > * {
    flex: 1 1 0;
    min-width: 18rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#up-next .next {
    padding-left: 1.5rem;
    padding-right: 0.25rem;
    text-align: right;
}

#up-next .prev {
    padding-right: 1.5rem;
    padding-left: 0.25rem;
    text-align: left;
}

#up-next p {
    margin-top: 0;
}

#up-next p.prompt {
    font-weight: bold;
    margin-bottom: 0;
}

#up-next p.prompt a {
    color: var(--black);
}

#up-next a {
    color: var(--link);
    text-decoration: none;
}

#up-next a:hover {
    color: var(--accent);
}

/** Swear on my life I'm only using this for a blinking cursor in a mock terminal */
blink,
.blink {
    animation: blink 2.5s step-end infinite;
}

@keyframes blink {
    67% {
        opacity: 0;
    }
}

/** code highlighting **/
.cd-blue {
    color: var(--ayu-blue);
}

.cd-orange {
    color: var(--ayu-orange);
}

.cd-green {
    color: var(--ayu-green);
}
