#simple-roll-eval-animation {
    border-bottom: unset;
    margin-bottom: unset;
    padding-left: 10px;
    padding-right: 10px;
}

.dice {
    font-family: "JetBrains Mono", monospace;
    color: var(--ayu-orange);
    border: 1px solid var(--ayu-orange);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    animation: spin 11s linear infinite;
}

.dice-text {
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
