#simple-roll-eval-animation {
    position: relative;
    border-bottom: unset;
    margin-bottom: unset;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
}

.dice {
    font-family: "JetBrains Mono", monospace;
    color: var(--ayu-orange);
    border: 1px solid var(--ayu-orange);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--ayu-bg);
    z-index: 1;
}

.divider {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 90%;
    border-left: 1px dashed var(--ayu-gray);
}

#a01-divider-1 {
    left: 33.3%;
}

#a01-divider-2 {
    left: 66.6%;
}

.dice-text {
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dice-data {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
}

#a01-n-counter-container {
    left: 33%;
    margin-left: 10px;
}

#a01-total-counter-container {
    left: 66%;
    margin-left: 10px;
}
